<html>
    <head>
        <title>Comentários</title>
    </head>

    <body>
        <h1>Comentários</h1>
        <hr/>
        <form>
            <label for="nome">Nome</label>
            <input type="text" name="nome" />
            <br />
            <label for="comentario">Comentário</label>
            <textarea name="comentario" rows="10"></textarea>
        </form>
    </body>

</html>